
.profile-pic{
	max-width: 100%;
}
.underline-text{ text-decoration-line: underline; }

.social-icon. fa:hover{ color: green }

.a:hover{text-decoration-line: none;}

.col-md-4 { background-color: red }

.card-block {background-color: purple;
position: center}

.card-text { text-decoration-color: red }

.aboutpage {background: url('../img/gates.jpeg');
background-size: cover }

.card { background-color: red }

.card-block {margin-right: 10;
margin-top: 10;
margin-bottom: 10}


.matchday {width: 100%;
border-image: all text-decoration-color hotpink;}

.card-footer {background-color: red}

.homepage {background: url('../img/dog.gif');
background-size: cover; }

.card {margin-top: 10px
margin-bottom: 10px}      
width: 100%;
background-size: cover}

.video-card{ background-color: black
 }